@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  padding: env(safe-area-inset);
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #040241;
}

.container {
  width: 100vw;
  max-width: 100%; /* to prevent horizontal scroll */
}

@media only screen and (orientation: landscape) {
  .container {
    /* Adjustments for landscape mode */
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Styling the scrollbar track (the background) */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Styling the scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.gradient-text {
  background: linear-gradient(45deg, #06b6d4, #3b82f6, #9333ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@keyframes glow {
  0%, 100% {
    box-shadow: 0 0 15px #132b28, 0 0 30px #694fd1, 0 0 45px #a84fd1, 0 0 60px #4fd1c5;
  }
  50% {
    box-shadow: 0 0 30px #32193d, 0 0 60px #7c37c1, 0 0 90px #9f46b4, 0 0 120px #4fd1c5;
  }
}

.first-card-glow {
  animation: glow 10s ease-in-out infinite;
}
