@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  padding: env(safe-area-inset);
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #040241;
}

.container {
  width: 100vw;
  max-width: 100%; /* to prevent horizontal scroll */
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Styling the scrollbar track (the background) */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Styling the scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.gradient-text {
  background: linear-gradient(45deg, #729fe8, #3b82f6, #9333ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@keyframes glow {
  0%, 100% {
    box-shadow: 0 0 15px #132b28, 0 0 30px #694fd1, 0 0 45px #a84fd1, 0 0 60px #4fd1c5;
  }
  50% {
    box-shadow: 0 0 30px #32193d, 0 0 60px #7c37c1, 0 0 90px #9f46b4, 0 0 120px #4fd1c5;
  }
}

.first-card-glow {
  animation: glow 10s ease-in-out infinite;
}

.nav-diagonal-split-bg {
  background: linear-gradient(
    135deg, #13172b 60%, #2c345f 40%
  );
} 

.houseUser {
	margin-top: 0.15em;
	height: 1em;
	color: grey;
}

.houseUser:hover {
	opacity: 0.5 !important;
	cursor: pointer;
}

.configCog {
	margin-top: 0.15em;
	height: 1em;
	color: grey;
}

.configCog:hover {
	opacity: 0.5 !important;
	cursor: pointer;
}


.configCog:hover {
    -webkit-animation: spin 900ms none normal;
    animation: spin 900ms none normal;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(59deg);
        transform: rotate(59deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(59deg);
        transform: rotate(59deg);
    }
}

.donate-widget {
  transform: scale(0.6); /* Adjust the scale value as needed */
  transform-origin: top left;
}

.text-link {
  cursor: pointer;
  font-weight: 500; 
  color: #3c72e7;
}

.text-link:hover {
  color: #4a8df8; 
  text-decoration: underline; 
}

.map-container {
  width: 100%;   
  height: 100%; 
  position: relative;
}

.map-container .ComposableMap {
  width: 100%;
  height: 100%;
}

.auroral-background {
  background: linear-gradient(-45deg, #311144, #070629, #44077d, #231f8d);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: full;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

